
  <div class="container">
    <div class="d-flex align-items-center justify-content-center" style="height:600px;">
      <p class="wave">
        <span>𖤣𖥧𖥣𖡡𖥧</span><span>Thank </span><span>you </span><span>for </span><span>your </span>
        <span>inquiry </span><span>about </span><span>our </span><span>E-taskmaster</span>
        <span>𖥧𖥣𖡡𖥧𖤣</span>
      </p>
    </div>
  </div>
