
 <% @notes.each do |note| %>
    <div class="card float suggestion mb-5">
      <div class="card-body">
          <h5 class="card-title">フレーズ: <%= note.word %></h5>
          <p class="card-text">英文: <%= note.english %></p>
          <p class="card-text">和訳: <%= note.japanese %></p>
      </div>
    </div>
  <% end %>
