  <h1>検索フレーズ</h1>
    <table>
      <thead>
      <tr>
        <th>パラプレーズ</th>
        <th>英文</th>
        <th>日本語</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @search_notes.each do |note| %>
          <tr>
            <td><%= note.word %></td>
            <td><%= note.english %></td>
            <td><%= note.japanese %></td>
            <td><%= link_to "戻る", remember_index_notes_path %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
