/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header{
    background-color: #b3b3ff!important;
    margin-bottom: 2rem;
  }

  .e-taskmaster{
    color: #2F4F4F;
  }

  body{
    background: linear-gradient(to bottom, #ccccff 0%, #ccffcc 100%)!important;
    font-family: 'Nunito', 'Noto Sans JP', sans-serif !important;
    // background-image: image-url("IMG_3841.jpg");
  }

  h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Lato", sans-serif;
  }

  h3 {
  border-bottom: solid 3px #7FFFD4;
  color: #2F4F4F;
  position: relative;
  }

  h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #FFB6C1;
  bottom: -3px;
  width: 30%;
  }

  @media (max-width: 768px) {
  h3 {
    font-size: 20px;
    line-height: 36px;
    }
  }

  .pagination li a {
  color: #75B5A1;
  background-color: #fff;
  border-radius: 5px;
  }

  .page-item.active .page-link {
    color: #75B5A1;
    background-color: #fff;
  }

  .notice {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #ccffcc;
    color: #009900;
  }

  .alert {
    background-color: #ffcccc;
    color: #ff4d4d;
  }

  /*--------------------------------------------------------------
  # Mypage
  --------------------------------------------------------------*/
  .mypage{
    background: #fffaf0!important;
  }

  /*--------------------------------------------------------------
  # Note
  --------------------------------------------------------------*/

  .note-card{
    background: #fffaf0!important;
  }


  /*--------------------------------------------------------------
  # Task
  --------------------------------------------------------------*/

  .task-card{
    background: #fffaf0!important;
  }

  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/

  .contact {
    background: #fffaf0!important;
  }

  /*--------------------------------------------------------------
  # Search
  --------------------------------------------------------------*/

  .public-paper {
    background: #fffaf0!important;
  }
  /*--------------------------------------------------------------
  # AdminUser
  --------------------------------------------------------------*/

  .submit-button{

  }

   .admin-paper {
    background: #fffaf0!important;
  }

  .sheet{
    background: #fffaf0!important;
  }

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

  .wrapper{
    // remで余白調整
    height: 100%;
    min-height: calc(100vh - (56px + 2rem)); /* ヘッダーの高さ計算(pxをいじる) */
    position: relative; /*←相対位置*/
    padding-bottom: calc(48px + 2rem); /*←footerの高さ*/
    box-sizing: border-box; /*←全て含めてmin-height:100vhに*/
  }

  footer{
      width: 100%;
      background-color: #8FBC8F;
      // color: #fff;
      text-align: center;
      // padding: 30px 0;
      position: absolute;/*←絶対位置*/
      bottom: 0; /*下に固定*/
      font-family: cursive;
  }

  /*--------------------------------------------------------------
  # Caredarlayouts
  --------------------------------------------------------------*/

  // カレンダータイトル
  .fc-toolbar-title{
    color: #696969;
  }
  // 曜日color
  .fc-col-header-cell-cushion{
    color: #696969;
  }
  // 日付color
  .fc-daygrid-day-number{
    color: #556B2F;
  }

  .fc-event-title{
    color: #FA8072;
  }

  .fc-event-time {
    color: #FA8072;
  }

  /*--------------------------------------------------------------
  # Slickスライド画像
  --------------------------------------------------------------*/

  .slick-slide {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: scale( .75 );
  }

  .is--active {
    transform: scale( 1 );
  }

  .slick-prev {
    left: 0!important;
  }

  .slick-next {
    right: 0!important;
  }

  .slick-prev:before {
    color: #000!important;
  }

  .slick-next:before {
    color: #000!important;
  }