/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito&display=swap');
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
  $mainColor: #ede7b2;

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  // top-pageに余白
  .header_top {
    margin-top: 0 !important;
  }

  .footer_top_logout {
    padding-bottom: 0;
  }

  .footer_top_login {
    padding-bottom: calc(56px + 3rem);
  }

  .e-taskmaster{
    color: #2F4F4F;
  }

  body{
    background: linear-gradient(to bottom, #ccccff 0%, #ccffcc 100%)!important;
    font-family: 'Nunito', 'Noto Sans JP', sans-serif !important;
    // background-image: image-url("toronto_Island.jpg");
  }

  h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Lato", sans-serif;
  }

  h3 {
    color: #2F4F4F;
    position: relative;
  }

  @media (max-width: 768px) {
  h3 {
    font-size: 20px;
    line-height: 36px;
    }
  }

  /*--------------------------------------------------------------
  # Pagenation
  --------------------------------------------------------------*/


  .pagination li a {
    color: #75B5A1;
    background-color: #fff;
    border-radius: 5px;
  }

  .page-item.active .page-link {
    color: #75B5A1;
    background-color: #fff;
  }


  .pagination-less {
    // visibility: hidden;
    display: none;
  }

   /*--------------------------------------------------------------
  # Flashmessage
  --------------------------------------------------------------*/

  .notice {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #ccffcc;
    color: #009900;
  }

  .alert {
    background-color: #ffcccc;
    color: #ff4d4d;
  }

  /*--------------------------------------------------------------
  # shadow => sheet
  --------------------------------------------------------------*/
  .sheet{
    background: #fffaf0!important;
  }

  /*--------------------------------------------------------------
  # Note
  --------------------------------------------------------------*/

  .note-card{
    background: #fffaf0!important;
  }

  .compiled-word{
    color: #003399;
  }

  .remembers-word{
    color: #b30000;
  }

  /*--------------------------------------------------------------
  # Task
  --------------------------------------------------------------*/

  .task-card{
    background: #fffaf0!important;
  }


  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

  .wrapper{
    // remで余白調整
    height: 100%;
    min-height: calc(100vh - (77px + 3rem)); /* ヘッダーの高さ計算(pxをいじる) */
    position: relative; /*←相対位置*/
    //padding-bottom: calc(48px + 3rem); /*←footerの高さ*/
    box-sizing: border-box; /*←全て含めてmin-height:100vhに*/
    margin-top: 3rem;
  }

  footer{
    width: 100%;
    background-color: #8FBC8F;
    // color: #fff;
    text-align: center;
    // padding: 30px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    font-family: cursive;
  }

  /*--------------------------------------------------------------
  # Caledarlayouts
  --------------------------------------------------------------*/
  .fc-toolbar-title,
  .fc-col-header-cell-cushion,
  .fc-daygrid-day-number,
  .fc-event-time,
  .fc-event-title{
    color: #808080;
  }

  .fc-list-event-title,
  .fc-list-event-time,
  .fc-list-day-side-text,
  .fc-list-day-text{
    color: #808080;
  }

  .fc-button{
    background-color: #999999!important;
  }

  #calendar{
    table{
    background-color: #F5FFFA;
    }
  }
  /*--------------------------------------------------------------
  # Slickスライド画像
  --------------------------------------------------------------*/

  .slick-slide {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    margin-bottom: 60px;
  }

  .is--active {
    transform: scale( 1 );
  }

  .slick-prev {
    left: 0 !important;
    z-index: 1000;
  }

  .slick-next {
    right: 0 !important;
  }


  /*--------------------------------------------------------------
  #  top/About page
  --------------------------------------------------------------*/

  .fixed-background {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: rgba(150, 150, 200, 0.55);
    // 上下centerよせ
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hero {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-image: image-url("niagara.png");
  }


  .text-component{

    h1 {
      margin: 0 0 10px 0;
      font-size: 50px;
      font-weight: 300;
      line-height: 56px;
      color: #fff;
      font-family: "Open Sans", sans-serif;
    }

    h2 {
      margin-bottom: 5px;
      font-size: 15px;
      font-weight: 300;
    }

    h4{
      color: #fff;
    }

    p{
      color: #fff;
    }

  }

  /*--------------------------------------------------------------
  # About page
  --------------------------------------------------------------*/

  .section{
    background-color: #f2e6ff;
  }

  .section-2{
    background-color: #ffffcc;
  }

  .sheet-1{
    background-color: #FFE4E1;
    padding: 2px;
    border-radius: 10px;
  }

  /*--------------------------------------------------------------
  # backgroundimage yellowknif
  --------------------------------------------------------------*/

  #hero-2{
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-image: image-url("yellowknife.png");
  }

  /*--------------------------------------------------------------
  # backgroundimage fruits
  --------------------------------------------------------------*/

  #hero-3{
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-image: image-url("fruits.png");
  }

  .fixed-background-1{
    min-height: 50vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    // background-color: rgba(100, 100, 100, 0.55);
    // 上下centerよせ
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .e-taskmaster{
    list-style-type: none;
  }


  /*--------------------------------------------------------------
  # ContactDone
  --------------------------------------------------------------*/

  .wave {
  	font-size: 35px;
  	font-weight: bold;
  	color: #ffb3b3;
  }

  .wave span {
  	position: relative;
  	animation: wave-anim 2s linear infinite;
  }

  /* animation */
  @keyframes wave-anim {
  	0% {
  		top: 0;
  	}
  	30% {
  		top: 20px;
  	}
  	70% {
  		top: -20px;
  	}
  	100% {
  		top: 0;
  	}
  }

  /* animation-delay */
  .wave span:nth-child(5n + 1) {
  	animation-delay: 0.5s;
  }

  .wave span:nth-child(5n + 2) {
  	animation-delay: 1s;
  }

  .wave span:nth-child(5n + 3) {
  	animation-delay: 1.5s;
  }

  .wave span:nth-child(5n + 4) {
  	animation-delay: 2s;
  }

  // css hover
  .basic {
    background:
    linear-gradient(currentColor 0 0)
    bottom /var(--d, 0) 3px
    no-repeat;
    transition:0.5s;
  }

  .basic:hover {
    --d: 100%;
  }

  /*--------------------------------------------------------------
  # ContactDone
  --------------------------------------------------------------*/

/*ボタンの形状*/
.float{
    background: #fffaf0;
    border: 1px solid #ccc;
    /*アニメーションの設定*/
    transition: all .3s;
}

/*hoverをしたらボックスの影が拡がり色が濃くなる*/
.float:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4), 0 0 50px rgba(128, 128, 128, 0.1) ;
    border-color: transparent;
}

 .mediaSp{
    display: none;
}

.sp-mt-1, .sp-mt-2, .sp-mt-3, .sp-mt-4, .sp-mt-5{
  margin-top: 0;
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  }
}


@media screen and (max-width: 450px) {
  .mediaSp{
    display: block;
  }
  .sp-mt-1{
    margin-top: 0.4rem;
  }
  .sp-mt-2{
    margin-top: 0.8rem;
  }
  .sp-mt-3{
    margin-top: 1.2rem;
  }
  .sp-mt-4{
    margin-top: 1.6rem;
  }
  .sp-mt-5{
    margin-top: 2rem;
  }

  .wrap-sp{
    flex-wrap: wrap;
  }
}

// .h2 {

// font-size: calc(10px + 1.2vw)!important;

// }

 /*--------------------------------------------------------------
  # topに戻るボタン
  --------------------------------------------------------------*/

#back {
  position: fixed;
  right: 40px;
  bottom: 100px;
  z-index: 100;
}

#back img {
  width: 50px;
}

.arrow{
  color: white;
  scale: 4;
  opacity: 0.8;
}

// .suggestion{
//   height: 200px;
// }


/* jscrollのloadingのところ*/

.loading {
    color: #989898;
    scale: 3;
    opacity: 0.8;
}

/* profile_image*/
.round-profile {
  border-radius: 60%;
  width: 60px;
  height: 60px;
}


/* その場で */
.fadeIn{
animation-name:fadeInAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.hover10 {
	transition: transform 1s;
}
.hover10:hover {
	transform: scale(1.1);
}

.follow-counter{
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 0;
}

.img-wrapper{
  height: 72px;
}

/*bellのlayout*/

.bell-relative{
  position: relative;
}
.counter{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: 3px;
    color: white;
}

.notify{
  padding-top: 3px;
  color: gold;
}

