/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header{
  background-color: #b3b3ff!important;
  margin-bottom: 2rem;
  }

  body{
    background-color: #f2ffe6!important;
    font-family: 'Nunito', 'Noto Sans JP', sans-serif !important;
  }

  .notice {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #ccffcc;
    color: #009900;
  }

  .alert {
    background-color: #ffcccc;
    color: #ff4d4d;
  }

  /*--------------------------------------------------------------
  # Mypage
  --------------------------------------------------------------*/
  .mypage{
    background: #fffaf0!important;
  }

  /*--------------------------------------------------------------
  # Note
  --------------------------------------------------------------*/

  .card-note{
    background: #fffaf0!important;
  }


  /*--------------------------------------------------------------
  # Task
  --------------------------------------------------------------*/

  .task{
    background: #fffaf0!important;
  }

  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/

  .contact {
    background: #fffaf0!important;
  }





  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

  .wrapper{
    // remで余白調整
    height: 100%;
    min-height: calc(100vh - (56px + 2rem)); /* ヘッダーの高さ計算(pxをいじる) */
    position: relative; /*←相対位置*/
    padding-bottom: calc(48px + 2rem); /*←footerの高さ*/
    box-sizing: border-box; /*←全て含めてmin-height:100vhに*/
  }

  footer{
      width: 100%;
      background-color: #89c7de;
      // color: #fff;
      text-align: center;
      // padding: 30px 0;
      position: absolute;/*←絶対位置*/
      bottom: 0; /*下に固定*/
      font-family: cursive;
  }