  <div class="pl-3 pr-3"> 
    <div class="container shadow p-3 sheet rounded">
      <div class="row">
        <div class="col">
          <h3 class="text-center">ユーザー情報一覧</h3>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ユーザー名</th>
              <th>メールアドレス</th>
              <th>登録日</th>
              <th class="text-center">会員ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.created_at.strftime('%Y年%m月%d日 %H:%M') %></td>
                <td class="text-center">
                  <% if user.is_deleted %>
                  <span style="color:red">退会</span>
                  <% else %>
                  <span style="color:green">有効</span>
                  <% end %>
                </td>
                <td><%= link_to "詳細", admin_user_path(user), class: "btn btn-outline-secondary btn-block float" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

