  <div class="container shadow p-3 task-card rounded">
    <h3 class="text-center mb-4">タスク詳細</h3>
    <div class="col-10 mx-auto">
      <div class="row text-center mb-3">
        <div class="col-md-6">
          タスク内容
        </div>
        <div class="col-md-6">
          <%= @task.title %>
        </div>
      </div>

      <div class="row text-center mb-3">
        <div class="col-md-6">
          開始日
        </div>
        <div class="col-md-6">
          <%= @task.starts_at.strftime("%Y年%m月%d日 %H:%M") %>
        </div>
      </div>

      <div class="row text-center mb-3">
        <div class="col-md-6">
          終了日
        </div>
        <div class="col-md-6">
          <%= @task.ends_at.strftime("%Y年%m月%d日 %H:%M") %>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <h3 class="text-center">
      Commit Tasks
    </h3>
    <%= line_chart @line_chart_data %>
  </div>
