  <div class="container mt-5 shadow p-3 bg-light">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Mypage</h1>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="mx-auto">
        <table class="table">
          <head>
            <tr>
              <th>名前</th>
              <th>メールアドレス</th>
              <th>登録日</th>
            </tr>
          </head>
          <tbody>
            <tr>
              <td><%= @user.name %></td>
              <td><%= @user.email %></td>
              <td><%= @user.created_at.strftime('%Y年%m月%d日 %H:%M') %></td>
            </tr>
          </tbody>
        </table>
        <% if @user.name != "guestuser" %>
        <div class='row'>
          <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>